@model IEnumerable<AdminLTE1.ViewModels.EditRoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>
<table class="table table-striped" id="MyDataTable">
    <thead>
        <tr>
            <th>Serial No</th>
            <th>Role Name</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        @{int index = 1;}
        @foreach (var user in Model)
        {
            <tr>
                <td>@index</td>
                <td>@user.RoleName</td>
                <td>
                    <a asp-action="EditPermission" asp-controller="Permission" asp-route-Id="@user.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Permission" asp-action="DeletePermissions" asp-route-Id="@user.Id">Delete</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Permission" asp-action="ViewPermission" asp-route-Id="@user.Id">View</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />
    <script src="~/js/CustomScript.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        }
        )
    </script>
}