@model List<AdminLTE1.ViewModels.OrdViewModel>

@{
    ViewBag.Title = "All Orders";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>All Orders</h1>
<table class="table table-striped" id="MyDataTable">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>OrderDate</th>
            <th>Class Name</th>
            <th>Quantity</th>
            <th>Per Class Price</th>
            <th>Class Total Price</th>
            <th>Total Amount</th>
            <th>Invoice</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.OrderId</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Amount</td>
                    <td>@(item.Amount * item.Quantity)</td>
                    <td>@item.TotalAmount</td>
                    <td><a asp-action="IncDwnl" asp-controller="Cart"
                            class="btn btn-primary" style="width:90px;">Download Invoice</a></td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.25/af-2.3.7/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#MyDataTable").DataTable();
        }
        )
    </script>
}



